.header-fixed {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 100px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* formMedicament */
#formMedicament
{
	width: 60%;
}

#formMedicament p
{
	margin: 2px 0;
}

/* fieldset , legend */
#formMedicament fieldset
{
	margin-bottom: 10px;
	border: #CCC 1px solid;
}

#formMedicament fieldset:hover
{
	background-color: #FFF;
}

#formMedicament fieldset legend
{
	padding: 0 10px;
	border-left: #CCC 1px solid;
	border-right: #CCC 1px solid;
	font-size: 1.2em;
	color: #999;
	font:16px Arial, Helvetica, sans-serif;
}


/* Label */
#formMedicament label
{
	background-color:  #608bd2;
	border: #4BB5C1 1px solid;
	display: block;
	width: 39%;
	float: left;
	padding-right: 1%;
	text-align: right;
	letter-spacing: 1px;
    font:16px Arial, Helvetica, sans-serif;
}

#formMedicament label:hover
{
	font-weight: bold;
}

#formMedicament .form_label_nostyle
{
	background: none;
}


/* button submit */
#formMedicament input[type="submit"]
{
	border: #4BB5C1 1px solid;
	width: 27%;
	font:16px Arial, Helvetica, sans-serif;
}

#formMedicament input[type="submit"]:hover
{
	background-color: #4BB5C1;
	cursor: pointer;
}



/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: -50;
}

/* zone et texte */
.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

/*zone et texte*/
.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 60px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 30px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

body {
	margin: 0;
	padding: 0;
	height: 1500px;
}


$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body {
  background:$body-bg;
  font-family: 'Titillium Web', sans-serif;
}




